src/main/mule/sample_logger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e511df95-bd32-49c1-941c-06c98b1d898f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_loggerFlow" doc:id="6e2c7807-5ad6-400f-a288-fc375823d4c5" >
		<http:listener doc:name="Listener" doc:id="2b68633c-9be7-4ab0-8d61-f6b1ff49247d" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="8ee93038-9726-405f-b9c1-365cc837bd6e" message="#[attributes.queryParams.id]"/>
	</flow>
</mule>
